.row-header{
    margin: 0px auto;
    padding: 0px;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #2e1433e0;
    color: beige;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px;
    margin: 0px auto;
    background-color: #7a4685d0;
    color: floralwhite;
}

address{
    font-size: 90%;
    margin: 0px;
    color: rgb(250, 250, 250);
}

body{
    padding: 55px 0px 0px 0px;
    z-index: 0;
}
.navbar-dark{
    background-color: #2e1433e0;
}
.navbar-brand{
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}